.msg-container{
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    /* justify-content: end; */ 
    min-height: calc(100% - 120px);
    overflow-y: scroll !important;
    scroll-behavior: smooth;
    
}

.my-msg-container{
    width: max-content;
    margin-right: auto;
}

.msg{
    margin: 1.5em 1em;
    width: fit-content;
    padding: 1em;
    background-color: #3b4a54;
    border-top-left-radius: 1px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 19px;
    font-weight: 100;
    opacity: 0.8;
}
.client-msg-container{
    width:max-content;
    margin-left: auto;
    
}
