@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --percent:1;
}

body{
    font-family: "Roboto";
    background-color: #0a1014;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}